$primary-color: #212;
$background-color: white;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
    padding: 8px;
}

.popupContainer {
    align-items: center;
    background-color: $background-color;
    color: $primary-color;
    font-size: 17px;
    justify-content: center;
    min-height: 120px;
    width: 200px;
}
